# Discord Bot Token
BOT_TOKEN=your_bot_token_here

# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

# Bot Settings
BOT_PREFIX=/
BOT_ACTIVITY=ModMail | /help
LOG_LEVEL=INFO

# Optional Discord Webhook for error logging
ERROR_WEBHOOK_URL=
